.ant-layout-header {
    padding: 0px;
}
.header {
    .ant-col {
        height: 64px;
    }
    .logo {
        padding-left: 20px;
        h1 {
            // display: flex;
            // justify-content: center;
            text-align: center;
        }
    }
    .mainTitle {
        h1 {
            text-align: center;
        }
    }
    .search {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
